body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.container-fluid{
	padding: 35px;
	padding-top: 55px;
}
.first-div{
	padding-top: 100px;
}
.bg-1{ /*blue*/
	color: #FFFFFF;
	background-color: #0582CA;
}
.bg-2{
	color: #ffffff;
	background-color: #343434;
}
.bg-3{
	color: #FFFFFF;
	background-color: #BB6B00;
}
.bg-4{
	color: #FFFFFF;
	background-color: #690500;
}
.headshot{ /*for profile pic */
	max-width: 250px;
	max-height: 250px;
}
.portfolio-img{
	margin-top: 10px;
	margin-bottom: 10px;
	max-height: 600px;
	height: 100%;
	width: 100%;
}
.col-xs-4{
	padding-top: 10px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    color: black;
    background-color: white;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.navbar-nav li a:hover {
    color: #343434 !important;
}
.form-control{
	width: 50%;
	max-width: 300px;
}
.form-group{
	padding-top: 10px;
}
label {
	vertical-align: middle;
}

.btn-secondary{
	background-color: #FFFFFF;
	color: black;
	margin-top: 10px
}


/*Thanks to W3 Schools for the modal styling. http://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: ;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}